    body {
        font-family: 'Heebo', sans-serif;
        font-family: 'Oxygen', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
        margin: 0;
    }
    
    p {
        line-height: 30px;
    }
    
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 35px;
    }
    
    .txt-color {
        color: orange;
    }
    
    .flexible-container {
        display: flex;
        margin-bottom: 100px;
    }
    
    .half-width {
        width: 50%;
        padding-left: 5%;
        padding-top: 60px;
    }
    
    .half-width img {
        width: 80%;
    }
    
    .experience-item {
        box-shadow: 10px 10px 40px gray;
        width: 40%;
        margin-right: 5%;
        margin-left: 5%;
        padding-left: 15px;
    }
    
    .linkbtn {
        text-decoration: none;
        background-image: linear-gradient(orange, tomato);
        padding: 10px 30px;
        border-radius: 5px;
        color: white;
        font-weight: 400;
    }
    
    .btnlink-dream {
        text-decoration: none;
        background-image: linear-gradient(orange, tomato);
        padding: 10px 50px;
        border-radius: 5px;
        color: white;
        font-weight: 400;
    }
    
    .top-banner {
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }
    
    .drm-bg {
        font-size: 50px;
        margin-bottom: 10px;
    }
    
    .half-width-drm-bg {
        width: 50%;
        padding-top: 140px;
    }
    
    .dream-big {
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    
    .experience-area {
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
    }
    
    #full-stack-dev {
        border-left: 7px solid tomato;
    }
    
    #baby-stack-dev {
        border-left: 7px solid rgb(11, 22, 145);
    }
    
    footer p {
        text-align: center;
    }